streamlit
pandas
numpy
plotly
pymongo
paho-mqtt
torch
transformers
spacy
streamlit-authenticator
python-dotenv
pyyaml
geopandas
folium
streamlit_folium
matplotlib
seaborn
xarray
prophet
sklearn
langdetect
nepali_roman
googletrans